<% layout('./layouts/boilerplate.ejs') %> 
    <div class="row">
        <h1 class="text-center">Welcome Aboard!</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/register" method="POST" novalidate class="validation-required">
                <div class="mb-3">
                    <label class="form-label" for="email" >Email</label>
                    <input class="form-control" type="email" name="email" id="email" required>
                </div>
                <div class="mb-3">
                <label class="form-label" for="username">username</label>
                <input class="form-control" type="text" name="username" id="username" required>
                </div>
                <div class="mb-3">
                <label class="form-label" for="password">password</label>
                <input class="form-control" type="password" name="password" id="password" required>
                </div>
                <button class="btn btn-danger">Submit</button>
            </form>
            <a href="/campgrounds">Home</a>
        </div>
    
    </div>
